aiohttp==3.8.4 ; python_version >= "3.9" and python_version < "4.0"
aiosignal==1.3.1 ; python_version >= "3.9" and python_version < "4.0"
amqp==5.1.1 ; python_version >= "3.9" and python_version < "4.0"
asgiref==3.7.2 ; python_version >= "3.9" and python_version < "4.0"
async-timeout==4.0.2 ; python_version >= "3.9" and python_version < "4.0"
attrs==23.1.0 ; python_version >= "3.9" and python_version < "4.0"
billiard==4.1.0 ; python_version >= "3.9" and python_version < "4.0"
caugetch==0.0.1 ; python_version >= "3.9" and python_version < "4.0"
celery==5.3.1 ; python_version >= "3.9" and python_version < "4.0"
certifi==2023.5.7 ; python_version >= "3.9" and python_version < "4.0"
charset-normalizer==3.2.0 ; python_version >= "3.9" and python_version < "4.0"
click-didyoumean==0.3.0 ; python_version >= "3.9" and python_version < "4.0"
click-plugins==1.1.1 ; python_version >= "3.9" and python_version < "4.0"
click-repl==0.3.0 ; python_version >= "3.9" and python_version < "4.0"
click==8.1.3 ; python_version >= "3.9" and python_version < "4.0"
clipboard==0.0.4 ; python_version >= "3.9" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.9" and python_version < "4.0"
cron-descriptor==1.4.0 ; python_version >= "3.9" and python_version < "4.0"
django-celery-beat==2.5.0 ; python_version >= "3.9" and python_version < "4.0"
django-celery-results==2.5.1 ; python_version >= "3.9" and python_version < "4.0"
django-cors-headers==4.2.0 ; python_version >= "3.9" and python_version < "4.0"
django-timezone-field==5.1 ; python_version >= "3.9" and python_version < "4.0"
django==4.2.2 ; python_version >= "3.9" and python_version < "4.0"
djangorestframework-simplejwt==5.2.2 ; python_version >= "3.9" and python_version < "4.0"
djangorestframework==3.14.0 ; python_version >= "3.9" and python_version < "4.0"
dnspython==2.3.0 ; python_version >= "3.9" and python_version < "4.0"
flower==2.0.0 ; python_version >= "3.9" and python_version < "4.0"
frozenlist==1.4.0 ; python_version >= "3.9" and python_version < "4.0"
getpass4==0.0.14.1 ; python_version >= "3.9" and python_version < "4.0"
humanize==4.7.0 ; python_version >= "3.9" and python_version < "4.0"
idna==3.4 ; python_version >= "3.9" and python_version < "4.0"
kombu==5.3.1 ; python_version >= "3.9" and python_version < "4.0"
markdown-it-py==3.0.0 ; python_version >= "3.9" and python_version < "4.0"
mdurl==0.1.2 ; python_version >= "3.9" and python_version < "4.0"
multidict==6.0.4 ; python_version >= "3.9" and python_version < "4.0"
openai==0.27.8 ; python_version >= "3.9" and python_version < "4.0"
prometheus-client==0.17.1 ; python_version >= "3.9" and python_version < "4.0"
prompt-toolkit==3.0.39 ; python_version >= "3.9" and python_version < "4.0"
psycopg2-binary==2.9.6 ; python_version >= "3.9" and python_version < "4.0"
pygments==2.15.1 ; python_version >= "3.9" and python_version < "4.0"
pyjwt==2.7.0 ; python_version >= "3.9" and python_version < "4.0"
pymongo==4.3.3 ; python_version >= "3.9" and python_version < "4.0"
pyperclip==1.8.2 ; python_version >= "3.9" and python_version < "4.0"
pyro4==4.82 ; python_version >= "3.9" and python_version < "4.0"
python-crontab==2.7.1 ; python_version >= "3.9" and python_version < "4.0"
python-dateutil==2.8.2 ; python_version >= "3.9" and python_version < "4.0"
python-dotenv==1.0.0 ; python_version >= "3.9" and python_version < "4.0"
pytz==2023.3 ; python_version >= "3.9" and python_version < "4.0"
redis==4.6.0 ; python_version >= "3.9" and python_version < "4.0"
requests==2.31.0 ; python_version >= "3.9" and python_version < "4.0"
rich==13.4.2 ; python_version >= "3.9" and python_version < "4.0"
serpent==1.41 ; python_version >= "3.9" and python_version < "4.0"
six==1.16.0 ; python_version >= "3.9" and python_version < "4.0"
sqlparse==0.4.4 ; python_version >= "3.9" and python_version < "4.0"
tornado==6.3.2 ; python_version >= "3.9" and python_version < "4.0"
tqdm==4.65.0 ; python_version >= "3.9" and python_version < "4.0"
typing-extensions==4.6.3 ; python_version >= "3.9" and python_version < "3.11"
tzdata==2023.3 ; python_version >= "3.9" and python_version < "4.0"
urllib3==2.0.3 ; python_version >= "3.9" and python_version < "4.0"
vine==5.0.0 ; python_version >= "3.9" and python_version < "4.0"
wcwidth==0.2.6 ; python_version >= "3.9" and python_version < "4.0"
yarl==1.9.2 ; python_version >= "3.9" and python_version < "4.0"
