.problem-header {
  margin-bottom: 20px;
}
  
.problem-header h1 {
  margin-top: 0;
}
  
.solution-header {
  margin-bottom: 20px;
}
  
.solution-header h2 {
  margin-top: 0;
}
  
.solution-content {
  margin-bottom: 20px;
}

.problem-content {
  background-color: rgb(55, 55, 55);
  color: white;
  padding: 5px;
  border-radius: 0.5rem;
}